.ranger-range-slider .irs-grid-pol{
    height: 5px;
    top: 6px;
}
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(3),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(5),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(7),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(11),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(13),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(15),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(19),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(21),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(23),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(27),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(29),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(31),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(35),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(37),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(39),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(43),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(45),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(47),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(51),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(53),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(55),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(59),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(61),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(63),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(67),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(69),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(71),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(75),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(77),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(79),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(83),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(85),
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(87){
    display: none;
}
.ranger-range-slider.irs--round .irs-grid-text{
    display: none;
}
.ranger-range-slider .irs-grid-pol.small {
    display: none;
}
.ranger-range-slider.irs--round .irs-grid-pol {
    background-color: #DBDBDB;
}
.ranger-range-slider.irs--round .irs-line{
    background-color: #DBDBDB;
}
.ranger-range-slider.irs--round .irs-bar {
    background-color: #A777F3;
}
.ranger-range-slider.irs--round .irs-handle {
    top: 33px;
    width: 10px;
    height: 10px;
    border: 3px solid #a777f3;
    background-color: white;
    border-radius: 24px;
    box-shadow: 1px 2px 4px #00000029;
    cursor: grab;
}
.ranger-range-slider.irs--round .irs-min,
.ranger-range-slider.irs--round .irs-max{
    color: #919191;
    top: 30px;
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 10px;
    visibility: visible !important;
}
.ranger-range-slider .irs-min {
    left: -50px;
}
.ranger-range-slider .irs-max {
    right: -50px;
}
.ranger-range-slider.irs--round .irs-from,
.ranger-range-slider.irs--round .irs-to,
.ranger-range-slider.irs--round .irs-single{
    background-color: transparent;
    color: #707070;
    font-family: 'Montserrat';
    font-size: 10px;
    top: 10px;
}
.ranger-range-slider.irs--round .irs-from:before,
.ranger-range-slider.irs--round .irs-to:before,
.ranger-range-slider.irs--round .irs-single:before{
    content: none;
}
.ranger-range-slider .postfix_label{
    font-size: 5px;
    padding-left: 1px;
    color:#919191;
}