.ranger-range-slider .irs-grid-pol{
    height: 5px;
    top: 6px;
}
.ranger-range-slider .irs-grid-pol:not(.small):nth-child(2n){
    display: none;
}
.ranger-range-slider.irs--round .irs-grid-text{
    display: none;
}
.ranger-range-slider .irs-grid-pol.small {
    height: 5px;
    display: none;
}
.ranger-range-slider.irs--round .irs-grid-pol {
    background-color: #DBDBDB;
}
.ranger-range-slider.irs--round .irs-line{
    background-color: #DBDBDB;
}
.ranger-range-slider.irs--round .irs-bar {
    background-color: #A777F3;
}
.ranger-range-slider.irs--round .irs-handle {
    top: 33px;
    width: 10px;
    height: 10px;
    border: 3px solid #a777f3;
    background-color: white;
    border-radius: 24px;
    box-shadow: 1px 2px 4px #00000029;
    cursor: grab;
}
.ranger-range-slider.irs--round .irs-min,
.ranger-range-slider.irs--round .irs-max{
    color: #919191;
    top: 30px;
    background-color: transparent;
    font-family: 'Montserrat';
    font-size: 10px;
    visibility: visible !important;
}
.ranger-range-slider .irs-min {
    left: -50px;
}
.ranger-range-slider .irs-max {
    right: -50px;
}
.ranger-range-slider.irs--round .irs-from,
.ranger-range-slider.irs--round .irs-to,
.ranger-range-slider.irs--round .irs-single{
    background-color: transparent;
    color: #707070;
    font-family: 'Montserrat';
    font-size: 10px;
    top: 10px;
}
.ranger-range-slider.irs--round .irs-from:before,
.ranger-range-slider.irs--round .irs-to:before,
.ranger-range-slider.irs--round .irs-single:before{
    content: none;
}
.ranger-range-slider .postfix_label{
    font-size: 5px;
    padding-left: 1px;
    color:#919191;
}